<div class="preloader-wrapper big active" id="preloader" style="position: absolute; left: 50%; top: 50%;">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div id="main-content" style="display: none;">
  <img src="/assets/images/close_button.png" id="close-button" (click)="closeDialog()" [ngStyle]="{'position':'fixed', 'top':'20px', 'left': this.screenWidth * 0.95 - 50 + 'px','width':'30px','height':'30px', 'zIndex':'200'}">
  <img src="/assets/images/right_arrow.png" id="right-button" (click)="clickRightButton()" [ngStyle]="{'position':'fixed', 'top':'50%', 'left': this.screenWidth * 0.95 - 50 + 'px','width':'50px','height':'50px', 'zIndex':'200'}">
  <img src="/assets/images/left_arrow.png" id="left-button" (click)="clickLeftButton()" [ngStyle]="{'position':'fixed', 'top':'50%', 'left': 230 + this.screenWidth * 0.05 + 'px','width':'50px','height':'50px', 'zIndex':'200'}">

  <mat-sidenav mode="side" opened style="width: 230px; left: 0px; top: 0px;" class="fixedclass">
    <mat-accordion>
      <mat-expansion-panel [ngStyle]="{'background-color': '#efefef'}" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row" *ngFor="let tag of this.portfolio.tags; let i=index">
          <mat-checkbox id="filter_{{ i }}" (change)="onFilterChange($event)" [checked]="true">{{ tag }}</mat-checkbox>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel [ngStyle]="{'background-color': '#efefef'}">
        <mat-expansion-panel-header>
          <mat-panel-title>
            다른 메뉴
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>기타 메뉴</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <div class="row" style="margin: 0px 0px 0px 230px;">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container" style="text-align: center;">
        <!-- <div *ngFor="let p of this.portfolio.portfolio; let i=index">
          <p>user : {{ p.user }}</p><br>
          <p>supertag : {{ p.supertag }}</p><br>
          <p>tag : {{ p.tag }}</p><br>
          <p style="margin-bottom: 2rem;white-space:pre-wrap;">{{p.content}}</p>
          <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        </div> -->
        <div class="portfolio-specific">

          <p id="portfolio-content-title">user : {{ this.portfolio.portfolio[this.portfolioInd].user }}</p><br>
          <p id="portfolio-content-tag">tag : {{ this.portfolio.portfolio[this.portfolioInd].tag }}</p><br>
          <img src="{{ this.portfolio.portfolio[this.portfolioInd].images[1] }}" align="middle" />
          <p id="portfolio-content" style="margin-bottom: 2rem;white-space:pre-wrap;">{{this.portfolio.portfolio[this.portfolioInd].content}}</p>
          <img src="{{ this.portfolio.portfolio[this.portfolioInd].images[2] }}" align="middle" />

        </div>
      <div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
