<div class="container">
    <div class="row">
      <label for="title">활동 제목</label>
      <div class="input-field col s12">
        <input id="title" type="text" style="background-color: #F9F9F9; border-radius: 10px;">
      </div>
    </div>
    <div class="row">
      <label for="content">활동 내용</label>
      <div class="col s12">
        <textarea id="content" style="height: 200px; background-color: #F9F9F9; border-radius: 10px;" class="materialize-textarea"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="input-file-id" multiple type="file" />
      </div>
    </div>
    <button class="waves-light btn" style="background-color: gray;" id="activity-post-btn">저장하기</button>
</div>
