<div class="preloader-wrapper big active" id="preloader" style="position: absolute; left: 50%; top: 50%;">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<img src="/assets/images/close_button.png" id="close-button" (click)="closeDialog()" [ngStyle]="{'position':'fixed', 'top':'20px', 'left': this.screenWidth * 0.95 - 50 + 'px','width':'30px','height':'30px', 'zIndex':'200'}">


  <div class="row" id="summernote-input-form" style="margin-top: 100px; display: none;">
    <div class="col-1"></div>
    <div class="col-10" style="border: 1px solid #efefef;">
      <div class="container">
        <div class="well off-top">
          <!-- <div class="alert alert-success" *ngIf="postSaved">미리보기에 반영되었습니다.</div> -->
          <h4>포트폴리오 게시물을 작성해 주세요</h4>
          <form role="form" [formGroup]="savePostForm" (ngSubmit)="showPreview($event)">
            <button type="submit" >미리보기</button>
            <div class="form-group" style="margin-top: 30px;">
              <textarea id="summernote" class="form-control"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <!-- <div class="col-9" style="border: 1px solid #efefef;">
      <h4>Portfolio 미리보기: </h4>
      <div id="preview"></div>
    </div> -->
  </div>
