<!-- Tob Bar  -->
<div class="row navbar" style="margin-bottom: 10px; z-index: 2;">
  <div class="navbar-25" [ngStyle]="{'background-color': '#efefef'}">
    <a routerLink="/" class="deleteline"><p [ngStyle]="{'font-size': '20px', 'margin-left': '20px'}">Plather</p></a>
  </div>
  <div class="navbar-50">
    <mat-icon class="navbar-form-icon">search</mat-icon>
    <form>
      <input matInput class="navbar-form">
    </form>
  </div>

  <div class="navbar-25">
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: 50%;">
          <mat-icon>home</mat-icon>
          <span>김희재</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Edit Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Payment</span>
          </button>
          <button mat-menu-item [routerLink]="['/horizontalline']">
            <mat-icon>voicemail</mat-icon>
            <span>Line</span>
          </button>
          <button mat-menu-item [routerLink]="['/portfolio']">
            <mat-icon>voicemail</mat-icon>
            <span>Portfolios</span>
          </button>
          <button mat-menu-item (click)="openSignup2Dialog()">
            <mat-icon>voicemail</mat-icon>
            <span>Sign up</span>
          </button>
          <button mat-menu-item (click)="openLoginDialog()">
            <mat-icon>voicemail</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>

  <!-- <div class="navbar-25" *ngIf ="screen_name; else noscreen"> -->
  <div class="navbar-25" *ngIf ="screen_name;">
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: 50%;">
        <mat-icon>home</mat-icon>
        <span>{{screen_name}}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Payment</span>
        </button>
        <button mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Notice</span>
        </button>
        <button mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Stack</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>voicemail</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<!-- Tob Bar  -->
<router-outlet></router-outlet>

<footer class="page-footer"  style="background-color: #CDCDCD;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Plather</h5>
        <p class="grey-text text-lighten-4">문곰의 제 4회 서강대학교 해커톤 프로젝트입니다.</p>
      </div>
      <div class="col l4 offset-l2 s12"></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Moongom
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
