<!-- <div class="preloader-wrapper big active" id="preloader" style="position: absolute; left: 50%; top: 50%;">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div> -->

<div id="main-content" style="margin-top: 100px;">
  <!-- <img src="/assets/images/close_button.png" id="close-button" (click)="closeDialog()" [ngStyle]="{'position':'fixed', 'top':'20px', 'left': this.screenWidth * 0.95 - 50 + 'px','width':'30px','height':'30px', 'zIndex':'200'}">
  <img src="/assets/images/right_arrow.png" id="right-button" (click)="clickRightButton()" [ngStyle]="{'position':'fixed', 'top':'50%', 'left': this.screenWidth * 0.95 - 50 + 'px','width':'50px','height':'50px', 'zIndex':'200'}">
  <img src="/assets/images/left_arrow.png" id="left-button" (click)="clickLeftButton()" [ngStyle]="{'position':'fixed', 'top':'50%', 'left': 230 + this.screenWidth * 0.05 + 'px','width':'50px','height':'50px', 'zIndex':'200'}"> -->

  <div class="row">
    <div class="col-12">
      <div id="preview-content">
        <!-- <div [innerHTML]="html.html">

        </div> -->
      <div>
    </div>
  </div>
</div>
