<mat-sidenav-container >
  <mat-sidenav mode="side" opened style="width: 230px;" class="fixedclass">
    <mat-accordion>
      <mat-expansion-panel [ngStyle]="{'background-color': '#efefef'}" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row" *ngFor="let st of superTags; let i=index">
          <mat-checkbox id="filter_{{ i }}" (change)="onFilterChange($event)" [checked]="true">{{ st }}</mat-checkbox>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel [ngStyle]="{'background-color': '#efefef'}">
        <mat-expansion-panel-header>
          <mat-panel-title>
            다른 메뉴
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>기타 메뉴</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <!-- Side Bar -->

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Profile & Horizontal Line -->
    <line-upper></line-upper>
    <!-- Under Horizontal Line  -->
    <line-bottom></line-bottom>
    <div class="button-row">
      <button mat-fab (click)="openDialog()" color="black" style="float: right; margin: 60px; font-size: 20px;">
        +
      </button>
    </div>
  </mat-sidenav-content>
  <!-- Main Content -->
</mat-sidenav-container>
