<div class="row">
  <div class="col-1"></div>
  <form [formGroup]="loginForm" class="col-10" (ngSubmit)="login(loginForm.value)" novalidate>
    <div class="form-group">
      <input formControlName="Email" id="Email" type="text" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.Email.errors }" />
      <div *ngIf="submitted && loginForm.controls.Email.errors" class="invalid-feedback redcolor">
        <div *ngIf="loginForm.controls.Email.errors.required">Email is required</div>
        <div *ngIf="loginForm.controls.Email.errors.email">Email is not right</div>
      </div>
    </div>
    <div class="form-group">
      <input formControlName="Password" id="Password" type="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.Password.errors }" />
      <div *ngIf="submitted && loginForm.controls.Password.errors" class="invalid-feedback redcolor">
        <div *ngIf="loginForm.controls.Password.errors.required">Password is required</div>
        <div *ngIf="loginForm.controls.Password.errors.minlength">Password should more than 8 length</div>
      </div>
    </div>
    <div class="button-row">
      <button mat-raised-button [routerLink]="['/signup']" color="gray">Register</button>
      <button mat-raised-button style="margin-left: 50px;" color="gray">Login</button>
    </div>
  </form>
  <div class="col-1"></div>
</div>
