<div style=" background-color: #D6D6D6; margin-top: 100px;">
  <div class="row" style="padding-top: 20px;">
    <div class="col s2 m2 l2"></div>
    <div class="col s4 m4 l4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>자기 소개</mat-card-title>
          <mat-card-subtitle>고양이</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            개에 대해 할 말은 많지만 일단 급한 불부터 끄자. 피타고라스를 공포로 몰아넣은 저 개부터 쫓아 버려야겠어. 체격에서 불리하니까 효과적인 전략으로 대응하는 수밖에
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col s4 m4 l4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>경력 기술</mat-card-title>
          <mat-card-subtitle>강아지 사료</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>- 고양이</p>
          <p>- 베르나르 베르베르</p>
          <p>- 피타고라스가 <웃음>이라고 했던 바로 그 소리</p>
          <p>- 집사는 평소보다 더 신경이 곤두서 있다.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col s2 m2 l2"></div>
  </div>
  <div class="row">
    <div class="col s2 m2 l2"></div>
    <div class="col s8 m8 l8">
      <mat-card>Simple card3</mat-card>
    </div>
    <div class="col s2 m2 l2"></div>
  </div>
  <div class="button-row">
    <button mat-fab (click)="openDialog()" color="black" style="float: right; margin: 60px; font-size: 20px;">+</button>
  </div>
</div>
