/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@angular/material/theming';
// Customize Theme
@import './theme';

.full-dialog .mat-dialog-container {
  padding: 10px;
  background-color: #EBEBEB;
}

.note-popover{
  display: block !important;
  position: fixed !important;
  /* width: 365px !important;
  height: 45px !important; */
  top: 0% !important;
  /* left: -135px !important; */
  /* transform: rotate(270deg); */
}

.note-editable{
  height:1000px;
  width: 100%;
  max-height:1000px;
}
.btn-light{
  background-color: transparent;
  border-color: transparent;
}
.modal.datepicker-modal.open {
  max-height: 344px;
}
// hide scrollbar
::-webkit-scrollbar { 
  display: none; 
}