<div class="preloader-wrapper big active" id="preloader">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<div id="main-content" style="display: none; background-color: white;">
  <img src="/assets/images/close_button.png" id="close-button" (click)="closeDialog()" [ngStyle]="{'position':'fixed', 'top':'20px', 'left': this.screenWidth * 0.99 - 50 + 'px','width':'30px','height':'30px', 'zIndex':'200'}">
  <img src="/assets/images/right_arrow.png" id="right-button" (click)="clickRightButton()" [ngStyle]="{'position':'fixed', 'top':'50%', 'left': this.screenWidth * 0.98 - 50 + 'px','width':'50px','height':'50px', 'zIndex':'200'}">
  <img src="/assets/images/left_arrow.png" id="left-button" (click)="clickLeftButton()" [ngStyle]="{'position':'fixed', 'top':'50%', 'left': this.screenWidth * 0.02 + 'px','width':'50px','height':'50px', 'zIndex':'200'}">

  <div class="row">
    <div class="col-12">
      <div *ngIf="useSampleData">
        <h1>{{ this.portfolio.portfolio[this.portfolioInd].supertag }}</h1>
        <div class="portfolio-specific" (animationend)="setAnimation()">
          <br>
          <span style="float:left;" class="portfolio-content-tag" *ngFor="let tag of portfolio.portfolio[this.portfolioInd].tag">#{{ tag }} </span><br>
          <img src="{{ this.portfolio.portfolio[this.portfolioInd].images[1] }}" align="middle" />
          <p id="portfolio-content" style="margin-bottom: 2rem;white-space:pre-wrap;">{{this.portfolio.portfolio[this.portfolioInd].content}}</p>
          <img src="{{ this.portfolio.portfolio[this.portfolioInd].images[2] }}" align="middle" />
        </div>
      </div>
      <div *ngIf= "!useSampleData">
          <h3>{{ this.portfolio.portfolio[this.portfolioInd].supertag }}</h3>
          <!-- Video  -->
          <div class="video">
              <video controls #videoPlayer style="width: 100%;">
                  <source src="{{videoSource}}" type="video/mp4" />
                  Browser not supported
              </video>
          </div>
          <div class="portfolio-specific" (animationend)="setAnimation()">
            <!-- <span style="float:left;" class="portfolio-content-tag" *ngFor="let tag of portfolio.portfolio[this.portfolioInd].tag">#{{ tag }} </span><br> -->
            <div [innerHTML]="this.portfolio.portfolio[this.portfolioInd].content"></div>
          </div>
        <div>
    </div>
  </div>
</div>
