<div class="row margin" text-center>
                    <div class="col s3"></div>
                    <form [formGroup]="signupForm" class="col s4" (ngSubmit)="register()" novalidate>
                        <div class="form-group">
                          <input formControlName="ID"
                          id="ID"
                          type="text"
                          class="form-control"
                          placeholder="ID"
                          [ngClass]="{ 'is-invalid': submitted && f.ID.errors }" />
                        <div *ngIf="submitted && f.ID.errors" class="invalid-feedback redcolor">
                            <div *ngIf="f.ID.errors.required">ID is required</div>
                            <div *ngIf="f.ID.errors.minlength">ID should more than 4 lengths</div>
                        </div>
                    </div>

                    <div class="form-group">
                                <input formControlName="Nickname"
                                id="Nickname"
                                type="text"
                                class="form-control"
                                placeholder="Nickname"
                                [ngClass]="{ 'is-invalid': submitted && f.Nickname.errors }" />
                        <div *ngIf="submitted && f.Nickname.errors" class="invalid-feedback redcolor">
                            <div *ngIf="f.Nickname.errors.required">Nickname is required</div>
                            <div *ngIf="f.Nickname.errors.minlength">Nickname should more than 4 lengths</div>
                        </div>
                              </div>
                              <div [formGroup]="passwordFormGroup">
                              <div class="form-group">
                              <input formControlName="Password"
                              id="Password"
                              type="password"
                              class="form-control"
                              placeholder="Password"
                              [ngClass]="{ 'is-invalid': submitted && passwordFormGroup.controls.Password.errors }" />
                        <div *ngIf="submitted && passwordFormGroup.controls.Password.errors" class="invalid-feedback redcolor">
                            <div *ngIf="passwordFormGroup.controls.Password.errors.required">Password is required</div>
                            <div *ngIf="passwordFormGroup.controls.Password.errors.minlength">Password should more than 8 lengths</div>
                        </div>
                            </div>
                            <div class="form-group">
                                <input formControlName="Password_Confirm"
                                required
                                id="Password_Confirm"
                                type="password"
                                class="form-control"
                                placeholder="Password Confirm"
                                [ngClass]="{ 'is-invalid': submitted && passwordFormGroup.errors?.doesMatchPassword }" />
                        <div *ngIf="submitted" class="invalid-feedback redcolor">
                            <div *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password Confirm is not correct</div>
                        </div>
                    </div>
                              </div>
                              <div class="form-group">
                                  <input formControlName="Email"
                                  required
                                  id="Email"
                                  type="text"
                                  class="form-control"
                                  placeholder="Email"
                                  [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback redcolor">
                            <div *ngIf="f.Email.errors.required">Email is required</div>
                            <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                        </div>
                                </div>

                                <div class="form-group">
                                    <input formControlName="Phone"
                                    required
                                    id="phone"
                                    type="text"
                                    class="form-control"
                                    placeholder="Phone"
                                    [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" />
                        <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback redcolor">
                            <div *ngIf="f.Phone.errors.required">Phone is required</div>
                        </div>
                                  </div>
                                <div class="row">
                                  <div class="col s4"></div>
                                  <div class="col s4">
                                      <button mat-button color="primary">회원가입</button>
                                  </div>
                                  <div class="col s4"></div>
                                </div>


                    </form>
                    <div class="col s3"></div>
                  </div>
